@model TaskApp.Domain.Entities.TaskItem

@{
    string TimerId = "VisibleTimerDisplay" + @Model.TaskItemId.ToString();
    string hiddenTimerId = "hiddenTimer" + @Model.TaskItemId.ToString();
    int taskItemId = Model.TaskItemId;
}

    <th class="text-left">@Model.Description</th>
    
        @using (Html.BeginForm("List", "DashBoard"))
        {
            @Html.Hidden("TaskItemId", taskItemId)
            @* @Html.TextBox("Time", (object)taskTime , new { @id = TimerId })   This causes an error described here; https://blogs.msdn.microsoft.com/simonince/2010/05/05/asp-net-mvcs-html-helpers-render-the-wrong-value/*@
            <input type="hidden" name="Time" value="@Model.Time" id="@hiddenTimerId">
            <th class="text-center"><span id="@TimerId">@Model.Time</span></th>
            <th><input type="submit" class="btn btn-default" value="Save" /></th>
        }
    
    <th>
        <button class="btn btn-default" onclick="@String.Format("StartTimer('{0}','{1}',{2})",hiddenTimerId,TimerId,Model.Time )">Start</button>
        <button class="btn btn-default" onclick="StopTimer()">Stop</button>

    </th>
    <th>
        @using (Html.BeginForm("Delete", "DashBoard"))
        {
            @Html.Hidden("TaskItemId", taskItemId);
            <input class="btn btn-default" type="submit" value="Delete" />
        }
    </th>







        
        
